$normalColor: #4595FF;  // 正常颜色
$soonColor: #FFB13B;  // 临期颜色
$emptyColor: #C9C9C9;  // 空铺颜色

$normalHoverColor: #2281ff;  // 正常颜色
$soonHoverColor: #ffa316;  // 临期颜色
$emptyHoverColor: #919191;  // 空铺颜色
