// .eslintignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
vue3-demo
dist-ssr
*.local
.history

/src/views/demo
/src/utils/index.js
/src/components/SacaleAuto/index.vue

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

// 不加这两个会报错
.cz-config.js
package.json

auto-imports.d.ts
components.d.ts
