:deep .map_marker {
  width: 21px;
  height: 24px;
  cursor: pointer;
  background-size: cover;
  overflow: hidden;

  :deep &.map0_mksty0 {
    background-image: url('../mapIco/map0/kx.png');
  }
  :deep &.map0_mksty1 {
    background-image: url('../mapIco/map0/fm.png');
  }
}
