:deep.picture_box {
  .block {
    &[data-content='No-2-1'] {
      width: 83px;
      height: 146px;
      top: 2.3%;
      left: 87.8%;
      line-height: 146px;
    }
    &[data-content='No-2-2'] {
      width: 68px;
      height: 68px;
      top: 75.6%;
      left: 46.1%;
      line-height: 68px;
    }
    &[data-content='No-2-3'] {
      width: 68px;
      height: 80px;
      top: 1.8%;
      left: 0.4%;
      line-height: 80px;
    }
  }
}
