.demo_cont {
  padding: 10px;
}

ul.demo_btn_cont li {
  display: inline-block;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.demo_item_cont {
  width: 100%;
  min-height: 300px;
  margin: 20px auto 0;
  border: solid 1px #a7a7a7;
}
